.addItem_form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.add_item {
  width: 18;
  padding: 1%;
  font-size: 1rem;
  border: 1px rgb(124, 156, 177) dotted;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.confirm_addItem,
.remove_addItem {
  width: 20%;
  padding: 1%;
  border: none;
  background-color: rgb(9, 94, 9);
  color: whitesmoke;
  cursor: pointer;
}
.remove_addItem {
  background-color: brown;
}
