.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2% auto;
}
.form-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 60rem;
  margin: auto;
  background-color: rgb(48, 45, 45);
  color: whitesmoke;
  border-radius: 20px 0 20px 0;
  padding: 1%;
}
.clientProp {
  width: 12%;
  text-align: right;
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  background-color: rgb(48, 45, 45);
  color: whitesmoke;
}
.client_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0.3%;
  margin: auto;
  height: 10%;
}
.save-actions {
  width: 50%;
  /* flex: 1 1 50%; */
  /* height: 10%; */
  justify-content: space-between;
}
.confirm,
.cancel {
  background-color: brown;
  border: none;
  border-radius: 1rem;
  color: white;
  padding: 1% 10%;
}
.cancel {
  background-color: rgb(42, 165, 79);
}
.actions {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.actions > i {
  font-size: 1.5rem;
  cursor: pointer;
}
.actions > i:hover {
  color: rgb(163, 140, 7);
}
.fa-pen-to-square {
  color: rgb(8, 50, 75);
}
.fa-user-xmark {
  color: rgb(156, 14, 14);
}
.fa-chart-line {
  color: rgb(135, 156, 14);
}
.fa-receipt {
  color: rgb(27, 107, 199);
}
.fa-envelope {
  color: rgb(228, 91, 0);
}
.fa-lightbulb {
  border-radius: 50%;
  border: none;
  width: 1rem;
  height: 1rem;
  color: rgb(255, 238, 0);
  cursor: pointer;
}
