.homepage-container {
  /* background: url("/public/img/home-background1.png"); */
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 8rem;
  font-weight: bold;
  color: rgb(47, 45, 49);
}

a > .home-log-btn {
  font-size: 1rem;
  padding: 3% 0;
  border-radius: 2rem;
  border: none;
  background-color: rgb(110, 53, 87);
  color: whitesmoke;
  width: 20rem;
}
.home-icon {
  width: 5%;
  transform: translate(11%, 100%);
  animation: circle 1s linear infinite;
}
@keyframes circle {
  0% {
    transform: translate(11%, 100%);
  }
  25% {
    transform: translate(11%, 90%);
  }
  50% {
    transform: translate(11%, 80%);
  }
  75% {
    transform: translate(11%, 90%);
  }
}
