/* .save_btn {
  text-align: center;
  width: 25%;
  border: none;
  padding: 1% 2%;
  background-color: brown;
  color: whitesmoke;
  margin: 1% 0;
} */
.bid_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
.header_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.name,
.date,
.save {
  color: rgb(102, 28, 28);
  padding: 1% 2%;
  margin: 1%;
  color: rgb(51, 46, 46);
  text-align: right;
}

.save {
  border: none;
  background-color: brown;
  color: whitesmoke;
  font-size: 1.2rem;
  cursor: pointer;
}
.name::placeholder,
.date::placeholder {
  color: rgb(39, 36, 36);
  text-align: right;
}
.addWRow_btn {
  width: 5%;
  padding: 1%;
  cursor: pointer;
  margin: auto;
}
.message {
  color: brown;
}

@media screen and (min-width: 375px) and (max-width: 500px) {
  .header_container {
    width: 50%;
  }
  .name,
  .date,
  .save {
    width: 50%;
  }
}
@media screen and (min-width: 501px) and (max-width: 915px) {
  .header_container {
    width: 70%;
  }
  .name,
  .date,
  .save {
    width: 70%;
  }
}
