.loading {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted rgb(73, 85, 102);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.imageHead {
  width: 3rem;
}
.head {
  background-color: rgba(211, 159, 90, 0.466);
  color: rgb(75, 55, 2);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 1rem;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
