.addProducts {
  width: 33%;
}
.fa-trash-can {
  color: brown;
}
.edit-delete-transaction {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.person-container-header {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.person-container-header > i {
  font-size: 1.5rem;
}
.fa-floppy-disk {
  color: rgb(184, 12, 12);
}
