.nav-container {
  height: 20vh;
  width: 90vw;
  /* position: fixed; */
  /* background-color: rgba(30, 68, 80, 0.849); */
  /* background-color: rgba(3, 22, 27, 0.877); */
  background: transparent;
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  margin: auto;
  border-bottom: 3px brown solid;
  border-radius: 1rem;
}

a {
  text-decoration: none;
  margin: 1%;
  font-size: 1.2rem;
}
.nav-photos {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.nav-logout {
  /* display: flex;
  justify-content: space-around; */
  /* width: 30%; */
  text-align: center;
}
.nav-logo {
  text-align: center;
}
a > img {
  /* border-radius: 50%;
  border: 3px white solid; */
  width: 100%;
}
.nav-image {
  border: 2px white solid;
  padding: 3%;
  border-radius: 5px 20px 5px;
  background-color: rgb(248, 239, 239);
  overflow: hidden;
  width: 7rem;
}
